
// universal

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    // position: static;
    // z-index: 999;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    width: 100%;
    .nav-item {
      font-size: 1.2rem;
    }
}