
// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Roboto+Slab&subset=latin-ext');

// Variables
@import 'variables';
@import 'universal';
@import 'header';
@import 'body';
// @import 'sidebar';
@import 'showcase';
@import 'particles-js';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar {
  z-index: 99;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  width: 100%;
  .nav-item {
    font-size: 1.2rem;
  }
}

html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.section {
  padding-top: 105px;
  padding-bottom: 50px;
}

img {
  border-radius: 8%;
}

.single-team-member img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  // -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

#team img {
  margin-top: -60px;
  
  filter: grayscale(100%);

}

.wrapper{
  position: relative;
  z-index: 3;
  // background: #fff;
  overflow: hidden;
  // box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.10);
  padding-bottom: 90px;
}

.showcase{
  // z-index: 0;
  display: table;
  width: 98%;
  padding: 3%;

  img{
    border-radius: 0%;
    height: 400px;
    width: 400px;
    opacity: 0.70;
  }
}

.absolute-wrapper {
  z-index: -1;
  position: absolute;
  top: 20%;
  left: 8%;
  width: 38%;
  
  h2.title{
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: $white;
    position: absolute;
    bottom: 185px;
    left: 25px;
  }
  h2.title span {
    color: $m2xcGreen;
  }

  h3.tagline{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: $white;
    position: relative;
    bottom: 100px;
    left: 25px;
  }
}

.top_45{
  margin-top: 45px;
}







// font-family: 'Raleway', sans-serif;
// font-family: 'Roboto Slab', serif;

/*section-title*/

.section-title {
  text-align: center;
  margin: 0 0 54px;
}

.section-title h6 {
  color: #3fb698;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  margin: 0 0 4px;
}

.section-title h2 {
  color: #00324c;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 44px;
  margin: 0 0 26px;
}

.section-title h3 {
  
  color: #323232;
  font-size: 19px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 44px;
  margin: 0 0 30px;
  
  position: relative;
  display: inline-block;
}

.section-title h3:before {
  content: '';
  position: absolute;
  // z-index: 99;
  background-color: $m2xcGreen;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  left: -17px;
  top: 20px;
}
.section-title h3:after {
  content: '';
  position: absolute;
  // z-index: 99;
  background-color: $m2xcGreen;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  right: -17px;
  top: 20px;
}

.section-title p {
  color: #333333;
  font-size: 16px;
  line-height: 24px;
}

.single-top-agency {
  margin: 2px 0 30px;
  padding: 25px 10px 22px;
  position: relative;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.single-top-agency:hover {
  -webkit-box-shadow: 0px 0px 10px -2px rgba(125, 125, 125, 1);
  box-shadow: 0px 0px 10px -2px rgba(125, 125, 125, 1);
}

.single-top-agency::before {
  border: 1px solid #eaeaea;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.single-top-agency:hover::before {
  border-bottom: 2px solid #3fb698;
}

.single-top-agency .icon {
  margin: 0 0 11px;
}

.single-top-agency .icon span {
  color: $m2xcGreen;
  font-size: 52px;
  line-height: 52px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.single-top-agency:hover .icon span {
  color: #00324c;
}

.single-top-agency .name {
  color: #00324c;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
}
/*section-title*/

.top-agency-img {}

.top-agency-img img {}

/* ---- particles.js container ---- */

#particles-js{
  z-index: -10;
  width: 100%;
  height:700px;
  
  // background-color: #b61924;
  // background-image: url('/img/mshadow.png');
  // background-size: cover;
  // background-position: 10% 50%;
  background-repeat: no-repeat;
}

// .section{
 
//   margin-bottom: 5%;
// }


.boxHome {

  display: block;
  color: #000;
  position: relative;
  background-position: center;
  font-size: 14px;
  letter-spacing: 0;

  img {
    display: block;
    max-width: 550px;
    Height: auto;
  }
}

.boxContent {
  position: absolute;
  bottom: 35%;
  width: 100%;
  padding: 0 15px;
}

.boxContent .boxTitle {
  font-family: 'Roboto Slab', serif;
  font-size: 2.2em;
  width:10%;
  line-height: 40px;
}

/*Contact Details*/

.contact-details-area {
  bottom: -30px;
  // margin: -170px 0 0;
  position: relative;
  z-index: 2;
}

.all-contact-details {
  padding: 0 15px;
}

.single-contact-details {
  background: #f2f2f2 none repeat scroll 0 0;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(204, 198, 204, 1);
  box-shadow: 0px 0px 10px 0px rgba(204, 198, 204, 1);
  margin: 0 -15px 15px;
  padding: 15px 0 15px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.single-contact-details:hover {
  background: #fff none repeat scroll 0 0;
}

.single-contact-details .icon {
  margin: 0 0 12px;
}

.single-contact-details .icon span {
  color: #3fb698;
  display: inline-block;
  font-size: 46px;
  line-height: 46px;
}

.single-contact-details .title {
  color: #333333;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25px;
  margin: 0 0 8px;
}

.single-contact-details .desc {
  color: #333333;
  display: block;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  margin: 0;
}

.single-contact-details .link {
  color: #3fb698;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 25px;
  margin: 15px 0 0;
}


.map-container{
  width: 100%;
  margin: 0 auto;
  // margin-top:50px;
}

#map_container{
  
  position: relative;
}
#map{
    z-index: 1;
    height: 0;
    overflow: hidden;
    padding-bottom: 22.25%;
    padding-top: 30px;
    position: relative;
}

/*Footer*/

footer {}

.footer-top-area {
  background: #303030 none repeat scroll 0 0;
  padding: 59px 0 31px;
}

.footer-widget {
  margin: 0 0 30px;
}

.footer-widget .title {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 25px;
  margin: 0 0 31px;
}

.flogo img{
  height: 50px;

}
.fw-info {}

.fw-info .flogo {
  margin: 0 0 19px;
}

.fw-info .flogo img {}

.fw-info .text {
  border-bottom: 1px solid #616161;
  color: #fff;
  font-size: 15px;
  line-height: 24px;
  margin: 0 0 21px;
  padding: 0 0 19px;
}

.fw-info .address {
  margin: 0 0 22px;
}

.fw-info .address h5 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
}

.fw-info .address h5 span {
  color: #ffffff;
  margin-right: 6px;
}

.fw-info .address p {
  color: #fff;
  line-height: 24px;
}

.fw-info .social {
  list-style: outside none none;
  padding: 0;
}

.fw-info .social li {
  display: inline-block;
  margin-right: 6px;
}

.fw-info .social li a {
  background: #fff none repeat scroll 0 0;
  border-radius: 100px;
  color: #333333;
  display: block;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 40px;
}

.fw-info .social li a:hover {
  background: #3fb698 none repeat scroll 0 0;
  color: #fff;
}

.fw-categories {}

.fw-categories .list {
  list-style: outside none none;
  padding: 0;
}

.fw-categories .list li {}

.fw-categories .list li a {
  color: #fff;
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 30px;
  margin: 0 0 12px;
}

.fw-categories .list li a:hover {
  color: #3fb698;
  margin-left: 3px;
}

.fw-categories .list li:last-child a {
  margin-bottom: 0;
}

.fw-categories .list li a span {
  color: #ffffff;
  margin-right: 5px;
}

.fw-insta {}

.fw-insta .insta {
  list-style: outside none none;
  padding: 0;
}

.fw-insta .insta li {
  display: inline-block;
  margin: 0 0 5px;
}

.fw-insta .insta li a {
  display: block;
  position: relative;
}

.fw-insta .insta li a::before {
  background: #3fb698 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 100%;
}

.fw-insta .insta li a:hover::before {
  opacity: 0.6;
}

.fw-insta .insta li a img {}

.fw-insta .insta li a:hover img {}

.fw-rpost {}

.fw-rpost .rpost {
  list-style: outside none none;
  padding: 0;
}

.fw-rpost .rpost li {
  margin: 0 0 5px;
}

.fw-rpost .rpost li a {
  background: #3b3b3b none repeat scroll 0 0;
  display: block;
  overflow: hidden;
}

.fw-rpost .rpost li a .img {
  display: block;
  float: right;
  width: 68px;
}

.fw-rpost .rpost li a .img img {}

.fw-rpost .rpost li a .content {
  display: block;
  overflow: hidden;
  padding: 8px 14px;
}

.fw-rpost .rpost li a .content .name {
  color: #fff;
  display: block;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  margin: 0 0 3px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.fw-rpost .rpost li a .content .name:hover {
  color: #3fb698;
}

.fw-rpost .rpost li a .content .date {
  color: #fff;
  display: block;
  letter-spacing: 0;
  line-height: 16px;
}

.fw-rpost .rpost li a .content .date span {
  color: #ffffff;
  margin-right: 2px;
}

/*footer-bottom*/

.footer-bottom-area {
  background: #222222 none repeat scroll 0 0;
  padding: 16px 0;
}

.fba-left {}

.fba-left p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  line-height: 18px;
}

.fba-left p a {
  color: #3fb698;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.fba-right {
  text-align: right;
}

.fba-right p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  line-height: 18px;
}

@media only screen and (max-width: 755px){
  .navtitle {
    display: none;
  }

  h1.title{
    font-size: 40px;
    font-weight: 400;
  }

  h2.tagline{
    font-size: 20px;
    font-weight: 300;
  }

  .top-agency-img {
    text-align: center;
  }

}

// @media (max-height: 813px){
//   #particles-js{
//     height: 460px;
//   }
// }